* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edf4f2;
}


html, body, #root {
  margin: 0;
  height: 100%;
  background-color: #edf4f2;
}
.methodology-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
}
